@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: 0;
  background: transparent;
}

html {
  font-size: 50%;
  scroll-behavior: smooth;
}

:root {
  /* Colors */
  --primary-color: #272a32;
  --gray-color: #d3d3d3;
  --accent-color: #ec5242;
  --bg-dark: #272a31;
  --line-height-sm: 1.2;
  --line-height-rg: 1.5;
  --line-height-lg: 1.8;
  --hover-bg:
    linear-gradient(
      to bottom,
      #ec524280,
      #ec5242
    );
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.section {
  padding: 9.6rem 1rem;
}

.container {
  margin: 0 auto;
}

.heading {
  font-weight: 900;
  line-height: var(--line-height-sm);
}

.heading--primary {
  font-size: 4rem;
  color: var(--accent-color);
  text-transform: uppercase;
}

.heading--secondary {
  font-size: 3.6rem;
}

.heading--tertiary {
  font-size: 1.8rem;
}

.underline::after {
  content: '';
  display: block;
  width: 6rem;
  height: 0.3rem;
  background-color: var(--accent-color);
  margin: 2rem auto 0;
}

.text-centered {
  text-align: center;
}

strong {
  font-weight: 700;
  color: var(--accent-color);
}

.icon {
  height: 3.2rem;
  width: 3.2rem;
  font-weight: 900;
}

.hidden {
  display: none;
}

.hide-scroll {
  overflow: hidden;
}
