/* HIGER THAN (576px) */
@media (min-width: 36em) {
  html {
    font-size: 53%;
  }

  .section {
    padding: 9.6rem 5.2rem;
  }

  .program {
    grid-template-columns: 1fr 3fr 6fr;
  }
}

/* HIGER THAN (768px) */
@media (min-width: 48em) {
  html {
    font-size: 56.25%;
    scroll-padding-top: 12rem;
  }

  body {
    padding-top: 12rem;
  }

  .section {
    padding: 9.6rem 6.4rem;
  }

  .nav-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12rem;
    box-shadow: 0 12px 9px 1px #aaa5;
    z-index: 10;
  }

  .social-bar {
    background-color: #555;
    display: flex;
    gap: 1.6rem;
    justify-content: end;
    align-items: center;
    padding: 0.6rem 3.6rem;
  }

  .social-bar a:link,
  .social-bar a:visited {
    font-size: 1.6rem;
    color: #aaa;
    transition: all 0.2s ease;
  }

  .social-bar a:hover,
  .social-bar a:active {
    transform: scale(1.1);
    color: #fff;
  }

  .social-bar .social-icon {
    height: 2.4rem;
    width: 2.4rem;
  }

  .btn-menu {
    display: none;
  }

  .main-nav {
    position: relative;
    height: 8rem;
    transform: translateX(0);
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3.6rem;
    margin: auto 0;
    background-color: #fff;
  }

  .menu-bar {
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .menu-item:link,
  .menu-item:visited {
    font-size: 1.8rem;
    font-weight: 700;
    transition: all 0.2s;
    display: inline-block;
    padding: 0.8rem 1.2rem;
  }

  .heading--primary {
    font-size: 4.4rem;
  }

  .section-panelists {
    padding: 9.6rem 2.4rem;
  }

  .hero-description {
    width: 80%;
  }

  .programs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
  }

  .program {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .panelist-icon {
    width: 4.8rem;
    height: 4.8rem;
  }

  .program-see-all {
    display: inline-block;
  }

  .btn-join {
    display: none;
  }

  .event-img-box {
    flex-direction: row;
  }

  .footer {
    padding: 2.4rem 5.2rem;
  }
}

/* HIGER THAN (992px) */
@media (min-width: 62em) {
  html {
    font-size: 60%;
  }

  .social-bar,
  .main-nav {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }

  .menu-bar {
    gap: 2rem;
  }

  .menu-item:link,
  .menu-item:visited {
    font-size: 2rem;
  }

  .heading--primary {
    font-size: 5.2rem;
  }

  .programs {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }

  .container-panelist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
  }

  .panelist-icon {
    width: 3.2rem;
    height: 3.2rem;
  }
}

/* HIGER THAN (1200px) */
@media (min-width: 75em) {
  html {
    font-size: 62.5%;
  }

  .panelist-icon {
    width: 4.8rem;
    height: 4.8rem;
  }
}
