/* HIGER THAN (576px) */
@media (min-width: 36em) {
  html {
    font-size: 53%;
  }

  .section {
    padding: 9.6rem 5.2rem;
  }

  .program {
    grid-template-columns: 1fr 3fr 6fr;
  }
}

/* HIGER THAN (768px) */
@media (min-width: 48em) {
  html {
    font-size: 56.25%;
  }

  body {
    padding-top: 11rem;
  }

  .btn-menu {
    display: none;
  }

  .main-nav {
    transform: translateX(0);
    flex-direction: row;
    justify-content: space-between;
    height: 11rem;
    background-color: #fff;
    box-shadow: 0 12px 9px 1px #aaa5;
    z-index: 10;
    padding: 0 5.2rem;
  }

  .menu-bar {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .menu-item:link,
  .menu-item:visited {
    font-size: 2rem;
    font-weight: 700;
    transition: all 0.2s;
    display: inline-block;
    padding: 0.8rem 1.2rem;
  }

  .heading--primary {
    font-size: 4.4rem;
  }

  .section {
    padding: 9.6rem 6.4rem;
  }

  .section-panelists {
    padding: 9.6rem 2.4rem;
  }

  .hero-description {
    width: 80%;
  }

  .programs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
  }

  .program {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .panelist-icon {
    width: 4.8rem;
    height: 4.8rem;
  }
}

/* HIGER THAN (992px) */
@media (min-width: 62em) {
  html {
    font-size: 60%;
  }

  .heading--primary {
    font-size: 5.2rem;
  }

  .programs {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }

  .container-panelist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
  }

  .panelist-icon {
    width: 3.2rem;
    height: 3.2rem;
  }
}

/* HIGER THAN (1200px) */
@media (min-width: 75em) {
  html {
    font-size: 62.5%;
  }

  .panelist-icon {
    width: 4.8rem;
    height: 4.8rem;
  }
}
