:root {
  /* Colors */
  --primary-color: #272a32;
  --gray-color: #d3d3d3;
  --accent-color: #ec5242;
  --line-height-sm: 1.2;
  --line-height-rg: 1.5;
  --line-height-lg: 1.8;
}

.section-hero {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 1)
    ),
    url(./../imgs/hero-bg.png);
  background-position: center;
  background-size: cover;
}

.container-hero {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.hero-welcom {
  font-size: 2rem;
  color: var(--accent-color);
  line-height: 1.5;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  border: 2px solid #ddd;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.hero-time {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: var(--line-height-rg);
}

.hero-address {
  font-size: 2rem;
}

/* *************** *
* SECTION PROGRAMS *
* *************** */
.section--programs {
  background-color: rgba(39, 42, 49);
  color: #ddd;
  text-align: center;
}

.container-programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.4rem;
}

.programs {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 0.8rem;
}

.program {
  padding: 1.6rem;
  background-color: rgba(60, 63, 70);
  display: grid;
  grid-template-columns: 1fr 3fr 7fr;
  gap: 0.4rem;
  align-items: center;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s;
}

.program:hover {
  box-shadow: 0 0 0 1px white;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  color: #fff;
}

.program-icon {
  height: 3.2rem;
  width: 3.2rem;
  font-weight: 900;
}

.program-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--accent-color);
}

.program-description {
  font-size: 1.8rem;
  line-height: var(--line-height-lg);
}

.program-see-all {
  text-transform: uppercase;
  font-size: 2rem;
  color: #aaa;
  cursor: pointer;
  border-bottom: 1px solid #aaa;
  transition: all 0.2s;
}

.program-see-all:hover {
  color: var(--accent-color);
  border-bottom: 1px solid currentColor;
  transform: scale(1.01);
}
