/* ************* *
* HEADER SECTION *
* ************* */
.container-nav {
  position: relative;
}

.icon-menu {
  height: 4.8rem;
  width: 4.8rem;
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
  cursor: pointer;
}

.logo {
  height: 9rem;
}

.main-nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background-color: var(--gray-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 3;
}

.main-nav.active {
  transform: translateX(0);
}

.menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item:link,
.menu-item:visited {
  display: inline-block;
  font-size: 4.8rem;
  line-height: var(--line-height-rg);
  color: var(--primary-color);
  font-weight: 700;
  padding: 4px;
}

.menu-item:hover,
.menu-item:active {
  color: var(--accent-color);
  transform: translateY(-0.5px) scale(1.04);
}

.menu-item--campaign:link,
.menu-item--campaign:visited {
  color: var(--accent-color);
  border: 4px solid var(--accent-color);
  margin-top: 1rem;
}

/* *********** *
* SECTION HERO *
* *********** */
.section-hero {
  background-image:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.95)
    ),
    url(./../imgs/hero-bg.png);
  background-position: center;
  background-size: cover;
}

.container-hero {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 90rem;
  margin: 0;
}

.hero-welcom {
  font-size: 2rem;
  color: var(--accent-color);
  line-height: 1.5;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  border: 2px solid #ddd;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.hero-time {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: var(--line-height-rg);
}

.hero-address {
  font-size: 2rem;
}

/* *************** *
* SECTION PROGRAMS *
* *************** */
.section--programs {
  background-color: var(--bg-dark);
  color: #ddd;
  text-align: center;
}

.container-programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.4rem;
}

.programs {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 0.8rem;
}

.program {
  padding: 1.6rem;
  background-color: rgba(60, 63, 70);
  display: grid;
  grid-template-columns: 1fr 3fr 4fr;
  gap: 0.4rem;
  align-items: center;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s;
}

.program:hover {
  box-shadow: 0 0 0 1px white;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  color: #fff;
}

.program-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--accent-color);
}

.program-description {
  font-size: 1.8rem;
  line-height: var(--line-height-lg);
}

.program-see-all {
  text-transform: uppercase;
  font-size: 2rem;
  color: #aaa;
  cursor: pointer;
  border-bottom: 1px solid #aaa;
  transition: all 0.2s;
}

.program-see-all:hover {
  color: var(--accent-color);
  border-bottom: 1px solid currentColor;
  transform: scale(1.01);
}

.btn-join {
  background-color: var(--accent-color);
  padding: 4rem;
  color: #fff;
  font-size: 2.4rem;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-join:hover {
  background-color: #ec5242cc;
}

/* *************** *
* SECTION PANELIST *
* *************** */
.container-panelist {
  padding: 4.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.panelist {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1.6rem;
  align-items: center;
}

.panelist-img-box {
  position: relative;
  width: 100%;
  padding-top: 130%;
  overflow: hidden;
}

.panelist-photo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  z-index: 1;
}

.panelist-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 0;
}

.panelist-social {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  background-image: var(--hover-bg);
  z-index: 2;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.panelist-img-box:hover:hover .panelist-social {
  transform: translateY(0);
}

.panelist-icon {
  color: var(--gray-color);
  transition: all 0.2s;
  height: 3.2rem;
  width: 3.2rem;
}

.panelist-icon:hover {
  color: var(--primary-color);
  transform: scale(1.2);
}

.panelist-info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.panelist-title {
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  color: var(--accent-color);
  line-height: var(--line-height-sm);
}

.panelist-title::after {
  content: '';
  display: block;
  height: 2px;
  width: 2.5rem;
  background-color: var(--gray-color);
  margin-top: 1.6rem;
  margin-left: 4px;
}

.panelist-description {
  font-size: 1.8rem;
  line-height: var(--line-height-rg);
}

/* *************** *
* SECTION SPONSORS *
* *************** */
.section--sponsors {
  background-color: var(--bg-dark);
  padding: 4.8rem 1rem;
  color: var(--gray-color);
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.container-sponsors {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  justify-content: center;
  flex-wrap: wrap;
}

.partner-logo {
  height: 4.8rem;
}

/* *************** *
*  SECTION FOOTER  *
* *************** */
.footer {
  padding: 2.4rem 1rem;
  border-top: 2px solid #aaa3;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1.6rem;
  align-items: center;
}

.footer-logo {
  width: 100%;
}

.footer-descriptions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
}
